@model CareerTech.Models.Solution
@{
    ViewBag.Title = "EditSolution";
    Layout = "~/Views/Shared/_Layout_DashBoard.cshtml";
    var solution = ViewBag.SolInfo;
}

<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Form Elements</div>
        </div>
        <div class="col s12 m12 l6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Input fields</span><br>
                    <div class="row">
                        @using (Html.BeginForm("EditSolution", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="text" name="id" hidden="" value="@solution.ID" />
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="SolName">Title</label>
                                    <input name="SolName" id="SolName" type="text" class="form-control" required value="@solution.Title">
                                </div>
                                <div class="form-group">
                                    <label for="des">Detail</label>
                                    <textarea name="des" id="des" class="form-control" required>@solution.Detail</textarea>
                                </div>
                                <div class="form-group">
                                    <label>Image</label>
                                    <div>
                                        @Html.TextBox("file", (string)ViewBag.SolInfo.Url_image, new { type = "file" }) <br />
                                    </div>
                                    <div>
                                        @Html.TextBoxFor(m => m.Url_image, new { @class = "file-path validate", @Value = (solution != null ? solution.Url_image : "") })
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-success" value="Save">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

