@model CareerTech.Models.Profile
@{
    ViewBag.Title = "Edit_Profile_Portfolio";
    Layout = "~/Views/Shared/_Layout_DashBoard.cshtml";
}

<main class="mn-inner inner-active-sidebar">
    <div class="middle-content">
        <div class="row no-m-t no-m-b">
            @Html.Partial("_Portfolio_Menu_Partial")
            <div class="col s12 m7 l9">
                <h5>@ViewBag.Portfolio.Name</h5>
                <div class="card">
                    <span class="@ViewBag.Type">@ViewBag.Message</span>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="card-content">
                        @using (Html.BeginForm("EditProfilePortfolioAsync", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                        {
                            <div id="example_wrapper" class="dataTables_wrapper">
                                <div class="row">
                                    @Html.TextBoxFor(m => m.PortfolioID, new { @readonly = "readonly", @class = "form-control hide", @Value = ViewBag.Portfolio.ID })
                                    <div class="input-field col m6 s12">
                                        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label active" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="file-field input-field col m6 s12">
                                        <div class="btn teal lighten-1">
                                            <span>Image</span>
                                            @Html.TextBox("Url_avatar", "", new { type = "file" })
                                        </div>
                                        <div class="file-path-wrapper">
                                            @Html.TextBoxFor(m => m.Url_avatar, new { @class = "file-path validate" })
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field col m6 s12">
                                    @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="input-field col m6 s12">
                                    @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>
                                            { new SelectListItem{Text = "Male", Value = "True"},
                                            new SelectListItem { Text = "Female", Value = "False"}})
                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    @Html.LabelFor(m => m.Position, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Position, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    @Html.LabelFor(m => m.Desc, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(m => m.Desc, new { @class = "materialize-textarea" })
                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(m => m.Address, ViewBag.ListAddress as SelectList, "--- Select address ---")
                                    </div>
                                </div>
                                <div class="input-field col m6 s12">
                                    @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="input-field col m6 s12">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="input-field col m6 s12">
                                    @Html.LabelFor(m => m.Facebook_url, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Facebook_url, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="input-field col m6 s12">
                                    @Html.LabelFor(m => m.Twitter_url, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Twitter_url, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="input-field col m6 s12">
                                    @Html.LabelFor(m => m.Youtube_url, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Youtube_url, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="input-field col m6 s12">
                                    @Html.LabelFor(m => m.Instagram_url, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Instagram_url, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div style="text-align: right">
                                <input class="waves-effect waves-light btn lighten-1 m-b-xs" value="Save change" type="submit">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


