@model CareerTech.Models.Recruitment
@{
    ViewBag.Title = "CreateRecruitment";
    Layout = "~/Views/Shared/_Layout_DashBoard.cshtml";
}

<main class="mn-inner inner-active-sidebar">
    <div class="middle-content">
        <div class="row">
            <div class="col s12 m12 l0">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Add Your Profile Company</span><br>
                        <div class="row">
                            @using (Html.BeginForm("CreateRecruitment", "Partner",FormMethod.Post, new { @class = "col s12" }))
                            {
                                <div class="input-field col m6 s12">
                                    @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="input-field col m6 s12">
                                    @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="input-field col m6 s12">
                                    @Html.LabelFor(m => m.Salary, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Salary, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="input-field col s6">
                                    @Html.LabelFor(m => m.Workingform, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Workingform, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="input-field col s6">
                                    @Html.LabelFor(m => m.Amount, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="input-field col s6">
                                    @Html.LabelFor(m => m.Position, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Position, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="input-field col s6">
                                    @Html.LabelFor(m => m.Experience, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Experience, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="input-field col s6">
                                    @Html.LabelFor(m => m.EndDate, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="input-field col m6 s12">
                                    @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(m => m.Gender,
                                        new SelectList(Enum.GetValues(typeof(CareerTech.Utils.CommonConstants.Gender))), "Select Gender")
                                    </div>
                                </div>
                                <div class="input-field col s12" style="margin-top: 50px;">
                                    @Html.LabelFor(m => m.DetailDesc, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(m => m.DetailDesc, new { @class = "ckeditor", style = "height: 12rem;padding: 15px;" })
                                    </div>
                                </div>
                                <div style="padding:10px 0px 200px 10px;">
                                    <button class="btn teal" style="margin: 20px 0px 0px 20px ;">Create</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</main>