
@{
    ViewBag.Title = "Search Candidate";
    Layout = "~/Views/Shared/_Layout_DashBoard.cshtml";
}
<script src="~/Scripts/AdminService/jquery-3.6.0.min.js"></script>
@model CareerTech.Models.FilterViewModel
<main class="mn-inner inner-active-sidebar">
    <div class="middle-content">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Search information of candidate</span>
                        <form>
                            <div class="row">
                                <div class="input-field col m6 s12">
                                    @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(m => m.Address, ViewBag.ListAddress as SelectList, "--Select address--")
                                    </div>
                                </div>
                                <div class="input-field col m6 s12">
                                    @Html.LabelFor(m => m.Career, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(m => m.Career, ViewBag.ListJobCategory as SelectList, "--Select Job Category--")
                                    </div>
                                </div>
                                <div class="input-field col m6 s12">
                                    @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label active" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>{
                                                      new SelectListItem { Text = "Male", Value = "true"},
                                                      new SelectListItem { Text = "Female", Value = "false"},
                                                      }, "--Select Gender--")
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s3">
                                    <div id="filterCandidate" class="btn teal">Filter</div>
                                </div>
                            </div>
                        </form>
                        <table id="example" class="display responsive-table datatable-example">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Career</th>
                                    <th>Lives In</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Portfolio</th>
                                </tr>
                            </thead>
                            <tbody id="candidate-infor">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $(document).ready(function () {
        $('#filterCandidate').click(function () {
            loadData();
        });
    });
    //Load Data function
    function loadData() {
        var FilterViewModel = {
            Address: $('#Address').val(),
            Career: $('#Career').val(),
            Gender: $('#Gender').val()
        };
        var model = JSON.stringify(FilterViewModel);
        $.ajax({
            url: "https://localhost:44396/api/getcandidate",
            type: "POST",
            contentType: "application/json;charset=utf-8",
            data: model,
            dataType: "json",
            success: function (response) {
                var html = '';
                $.each(response, function (index, item) {
                    html += '<tr>';
                    html += '<td>' + item.FullName + '</td>';
                    html += '<td>' + item.Career + '</td>';
                    html += '<td>' + item.Address + '</td>';
                    html += '<td>' + item.Age + '</td>';
                    if (item.Gender === true) {
                        html += '<td>Male</td>';
                    } else {
                        html += '<td>Female</td>';
                    }
                    html += '<td>' + item.Email + '</td>';
                    html += '<td>' + item.Phone + '</td>';
                    html += '<td><a href="/portfolio/' + item.PortfolioID + '"target="_blank">View Detail</a></td>';
                    html += '</tr>';
                });
                 $('#candidate-infor').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>